@import "mixin/group-mixin";
@import"component/veriable";
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Permanent Marker', cursive;
}
@import"./mixin/responsive-home";
@import"./mixin/responsive-about";
@import"./mixin/responsive-contact";
@import "./component/card"; 
@import"./component/navbar";
@import"component/footer";