@import "mixin/group-mixin";
@import"component/veriable";
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Permanent Marker', cursive;
}
<<<<<<< HEAD
@import"./mixin/responsive";
@import"./component/container";
@import"./component/popular";
@import"./component/images";
@import"./component/follow";
=======
@import"./component/container";
@import"./component/popular";
@import"./component/matric";
>>>>>>> 3e7deee8411c059c4526cf42e934290e9f05f5ef
@import"./component/navbar";
@import"component/footer";