@import "mixin/group-mixin";
@import"component/veriable";
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Permanent Marker', cursive;
}
@import"./component/container";
@import"./component/popular";
@import"./component/matric";
@import"./component/navbar";
@import"component/footer";