.menu-bar{
  height: 80vh;
  background:url('../../images/contact/bg.jpg');
  background-size: cover;
}
.titless {
  margin-top: 50px;
  text-align: center;
  padding: $padding-small;
  h1, h3 {
    color:$dark-text-color;
    text-shadow: 2px 2px 4px $secondary-color;
  }
}
.container-form {
  gap: 30px;
  width: 100%;
  padding: 15px;
  display: flex;
  margin-top: 20px;
}

form {
  padding: 10px;
  width: 68%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}
#form{
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
input {
  &[type="first-name"],
  &[type="last-name"],
  &[type="email"] {
    outline: none;
    background-color: rgba(192, 226, 255, 0.582);
    border-radius: 20px;
    padding: 10px;
    border: none;
  }
  &[type="first-name"] {
    margin-top: 30px;
    width: 40%;
  }
  &[type="last-name"] {
    margin-left: 20px;
    width: 40%;
  }
  &[type="email"] {
    width: 84%;
    margin-top: 15px;
  }
}

textarea {
  outline: none;
  background-color: rgba(192, 226, 255, 0.582);
  border-radius: 10px;
  margin-top: 15px;
  border: none;
}

.btn {
  margin-top: 15px;
  width: 20%;
  padding: 8px;
  border-radius: 20px;
  border: 2px solid rgb(223, 223, 223);
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(192,70,252,1) 100%);
  color: white;
}

.card-img {
  background-color: black;
  z-index: -1;
  border-radius: 15px;
  display: flex;
  width: 35%;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(223, 223, 223);
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(163,44,227,0.636467086834734) 100%);
}

.card-he {
  color: white;
  padding: 10px;
  p {
    font-size: 0.9em;
    margin-bottom: 50px;
  }
}
.card {
  display: flex;
  padding: 15px;
  justify-content:space-between;
  p {
    padding: 15px;
    margin:0px 50px;
  }
}
.input-email {
  width: 100%;
  padding:0px 10px 10px 10px;
  input[type="mail"] {
    padding: 10px;
    margin-bottom: 25px;
    border: none;
    border-radius: 20px;
    outline: none;
  }

  button {
    padding: 10px;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(192,70,252,1) 100%);
    color: white;
    border: none;
    border-radius: 20px;
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  i{
    margin-top: 50px;
  }
  .material-icons {
    margin-right: 35px;
  }
}
.card1,
.card2,
.card3 {
  border-radius: 20px;
  width: 33%;
  height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 2px solid rgb(223, 223, 223);
}

.card1 {
  margin-right: 10vh;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(163,44,227,0.636467086834734) 100%);
  color: white;
}

.card2 {
  background: rgb(34,195,152);
  background: linear-gradient(0deg, rgba(34,195,152,1) 0%, rgba(80,44,227,0.4543942577030813) 100%);
  color: white;
}

.card3 {
  background: rgb(34,195,152);
  background: linear-gradient(0deg, rgba(34,195,152,1) 0%, rgba(166,44,227,0.7008928571428572) 100%);
  margin-left: 10vh;
  color:$dark-text-color;
}

h1 {
  display: flex;
  justify-content: center;
}

.img-map {
  padding: 20px;
  iframe{
    height: 50vh;
    width: 100%;
    border-radius: 20px;
  }
}



