.container {
    background-color:$light-text-color ;
    color:$dark-text-color ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 50px;
  
    .item {
        max-width: 300px;

        img {
            width: 50px;
            height: 50px;
        }

        h2 {
            font-size: 24px;
            margin: 20px 0;

            .highlight {
<<<<<<< HEAD
                color: #3498db;
=======
                color: #3498db; // Highlight color (blue)
>>>>>>> 3e7deee8411c059c4526cf42e934290e9f05f5ef
                text-decoration: underline;
            }
        }

        p {
            font-size: 14px;
            line-height: 1.6;
            color: #ccc;
        }

        &:nth-child(2) {
            h2 {
                .highlight {
                    display: block;
                    font-size: 20px;
                }
            }
        }
    }
}

.music {
    display: flex;
}