.gallery {
    text-align: center;
    padding: 20px;

    h1 {
        text-decoration: underline;
        font-size: 2em;
        margin-bottom: 10px;
        &:hover{
            color: orange;
        }
    }

    p {
        font-size: 1em;
        $color:black;
    }

    .row {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 20px 0;

        .column {
            // z-index: -1;
            flex: 1;
            max-width: 30%;
            padding: 10px;

            img {
                width: 100%;
                height: auto;
            }
        }
    }
}


.videos {
  h1 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
    text-decoration: underline;
    &:hover{
      color: orange;
    }
  }
  p{
    text-align: center;
  }
}
.description {
  color: #666;
}
.container {
  display: grid;
  gap: 10px;
  margin: auto;
  margin: 20px 0px 0px 80px;
}

@media (max-width: 480px) {
  .container {
    grid-template-columns: 1fr;
    margin: 20px 0px 0px 40px;
  }
}


@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}


@media (min-width: 1024px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.thumbnail {
  position: relative;
  width: 100%;
}

.thumbnail img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  text-align: center;
  font-size: 14px;
  margin-top: 5px;
}