
.header-bar {
  height: 100vh;
  background: url(../../images/home/logo.jpg);
  background-size: cover;
}
header {
  @include flexbox(space-between, flex-start, 5px);
  background-color: darkslategray;
  padding: 10px 20px;
}
ul {
  @include flexbox(flex-start, center, 20px);
}
a {
  color: white;
}
.sb {
  color: $secondary-color;
}
.sw {
  color: $dark-text-color;
}
.nav-bar {
  @include flexbox(flex-start, center, 5px);

  img {
    width: 40px;
    border-radius: 50%;
  }
}
.button {
  padding: $padding-small;
}
.get-start {
@include button-style($secondary-color, $dark-text-color);
background: #29B1CC;
background: linear-gradient(to bottom right, #29B1CC 0%, #60609E 100%);
img{
  height: 20px;
  width: 20px;
  margin-left: 2px;
  vertical-align: middle;
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px); /* Move the image up */
    }
  100% {
  transform: translateY(0); /* Move the image back down */
}
} 
img.jump {
  animation: jump 0.90s ease-in-out infinite; /* Apply the animation */
}
}
.sign-in {
@include button-style($light-bg-color, $light-bg-color);
background: #6B70FF;
background: linear-gradient(to left, #6B70FF 0%, #4F55FF 50%, #7268FF 100%);
img{
  height: 20px;
  width: 20px;
  margin-left: 2px;
  vertical-align: middle;
}
&:hover {
  background-color: $hover-color;
  color: $dark-text-color;
}
}
.material-icons {
  height: 4vh;
  width: 14px;
  vertical-align:middle;
}
/* Custom Select Dropdown */
.custom-select {
  position: relative;
  display: inline-block;

  .select-button {
    color: $dark-text-color;
    padding: $padding-small;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  .select-options {
    display: none;
    position: absolute;
    background-color: $dark-text-color;
    min-width: 160px;
    box-shadow: 0px 8px 16px $shadow-color;
    z-index: 1;
    border-radius: 20px;
    a {
      color: #4e32a8;
      padding: 12px 16px;
      display: block;
      &:hover {
        background-color: darkcyan;
        color: $dark-text-color;
        border-radius: 20px;
      }
    }
  }
:hover .select-options {
  display: block;
  box-shadow: $shadow-color 0px 3px 8px;
}
}
.h3{
display: flex;
}
.title {
margin-top: 50px;
text-align: center;
padding: $padding-small;
h1, h3 {
  color: $dark-text-color;
  text-shadow: 2px 2px 4px $shadow-color;
}
}
.home{
  border-bottom: 3px solid orange;
}
/* Button Styles */
.play {
  @include button-style(rgb(239, 17, 35), $dark-text-color, $padding-small 25px);
  box-shadow: $shadow-color 0px 3px 8px;
  &:hover {
    background-color: $hover-color;
  }
}
.more {
  @include button-style($dark-text-color, $light-bg-color, $padding-small 25px);
  box-shadow: $shadow-color 0px 3px 8px;
  color: $light-text-color;

&:hover {
    background-color: $hover-color;
    color: $dark-text-color;
    transition: background-color 0.3s ease;
}
}

  