$darkslategray: darkslategray;
$secondary-color: orange;
$accent-color: #05C1FF;
$light-bg-color: #f2f2f2;
$dark-text-color: white;
$light-text-color: black;
$hover-color: teal;
$shadow-color: rgba(0, 0, 0, 0.24);
$font-primary: 'Permanent Marker', cursive;
$padding-small: 10px;
$padding-large: 20px;
$border-radius: 5px;
