@media (min-width: 320px)and (max-width:480px){
    .get-start{
        display: none;
    }
    .contain{
      display: flex;
      flex-direction: column;
    }
    .artist-image{
      display: none;
    }
  .sign-in{
    display: none;
  }
  .sw,.sb{
    font-size:larger;
  }
  .thumbnail{
    margin-left: 17px;
  }
  footer{
    height: 100vh;
    margin-bottom: 30px;
    .footer{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    .compay{
      width: 30%;
    }
    .navigation{
        width: 30%;
    }
    .quick-link{
      margin-right: 84px;
      width: 30%;
    }
    .services{
        width: 30%;
    }
    .content-footer{
        display: flex;
        flex-direction: column;
        .footer-content{
            display: flex;
            flex-wrap: wrap;
            .footer-location{
              margin-right: 60px;
              width: 30%;
            }
            .footer-contact{
              width: 30%;
            }
            .footer-email{
              margin-right: 60px;
              width: 30%;
            }
            .footer-social{
              width: 30%;
            }
            .footer.bottom{
              margin-bottom: 50px;
            }
        }
       
    }
  }
}


//Tablete//
@media (min-width: 768px)and (max-width:1023px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
  footer{
    height: 60vh;
    .footer{
        display: flex;
        gap: 30px;
    }
    .compay{
      width: 30%;
    }
    .navigation{
        width: 30%;
    }
    .quick-link{
      margin-left: 26px;
      width: 30%;
    }
    .services{
      margin-right: 30px;
        width: 30%;
    }
    .content-footer{
        display: flex;
        flex-direction: column;
        .footer-content{
            display: flex;
            flex-wrap: wrap;
            .footer-location{
              margin-left: 8px;
              width: 30%;
            }
            .footer-contact{
              width: 30%;
            }
            .footer-email{
              margin-left: 8px;
              width: 30%;
            }
            .footer-social{
              width: 30%;
            }
            .footer.bottom{
              margin-bottom: 50px;
            }
        }
       
    }
  }
}

