// teblate

@media (max-width: 768px){
    .titles {
        h1, h3 {
          margin-top: 50px;
        }
    }
    .header-bar{
        width: 100%;
    }
    header{
        height: 20vh;
        width: 100%;
    }
    .main{
        display: flex;
        flex-direction: column;
        .main-top{
            height: 100vh;
            display: flex;
            flex-direction: column;
            .main-intro{
                .history{
                    box-shadow: none;
                    border: none;
                    &:hover{
                        display: none;
                    }
                    h1{
                        font-size: 24px;
                    }
                }
            }
            .main-team{
                .influen{
                    box-shadow: none;
                    border: none;
                    &:hover{
                        display: none;
                    }
                    h1{
                        font-size: 24px;
                    }
                }
            }
        }
    }
    .main-view-content{
        height: 30vh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        .main-about{
            width: 50%;
            img{
                height: 50px;
                width: 40px;
            }
        }
        
    }
    .instrument{
        // height: 110vh;
        display: flex;
        flex-direction: column;
        .main-video{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 20px;
            .video{
                height: 100vh;
                width: 100%;
            }
        }
    }
    .main-member{
        height: 130vh;
        display: flex;
        flex-direction: column;
        
        .member0{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 30px;
            .member1{
                height: 55vh;
                width: 40%;
            }
        }
    }
    footer{
        height: 90vh;
        .footer{
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }
        .compay{
            width: 30%;
        }
        .navigation{
            width: 30%;
        }
        .quick-link{
            width: 30%;
        }
        .services{
            width: 30%;
        }
        .content-footer{
            display: flex;
            flex-direction: column;
            .footer-content{
                display: flex;
                flex-wrap: wrap;
                .footer-location{
                    width: 30%;
                }
                .footer-contact{
                    width: 30%;
                }
                .footer-email{
                    width: 30%;
                }
                .footer-social{
                    width: 30%;
                }
            }
           
        }
    }
}


//phone//
@media (max-width: 480px){
    .header-bar{
        width: 100%;
    }
    header{
        height: 20vh;
        width: 100%;
    }
    .main{
        display: flex;
        flex-direction: column;
        .main-top{
            height: 190vh;
            display: flex;
            flex-direction: column;
            .main-intro{
                .history{
                    box-shadow: none;
                    border: none;
                    &:hover{
                        display: none;
                    }
                    h1{
                        font-size: 24px;
                    }
                }
            }
            .main-team{
                .influen{
                    box-shadow: none;
                    border: none;
                    &:hover{
                        display: none;
                    }
                    h1{
                        font-size: 24px;
                    }
                }
            }
        }
    }
    .main-view-content{
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        .main-about{
            width: 50%;
            img{
                height: 50px;
                width: 40px;
            }
        }
        
    }
    .instrument{
        height: 400vh;
        display: flex;
        flex-direction:column;
        .main-video{
            display: flex;
            flex-direction: column;
            gap: 20px;
            .video1{
                width: 20%;
            }
        }
    }
    .main-member{
        height: 290vh;
        display: flex;
        flex-direction: column;
        
        .member0{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}



