@media (min-width: 320px)and (max-width:480px){
    .get-start{
        display: none;
    }
    header{
        padding: 1px;
    }
    .title{
        width: 90%;
        h1{
           margin-top: 50px; 
        }
    }
    .contain{
      display: flex;
      flex-direction: column;
    }
    .artist-image{
      display: none;
    }
    header{
      padding: 10px;
    }
}

@media (max-width: 768px){
  .title{
    width: 90%;
    h1{
       margin-top: 60px; 
    }
  }
}

